<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
</head>
<body class="bg-success p-2 text-white bg-opacity-25">
    <h1 class="text-center col-11 my-5 mx-5">
        Welcome to the Home page {{user.first_name}}
    </h1>
    <div class= "d-grid gap-2 d-md-flex justify-content-md-end">
        <a href= "/logout" class = "btn btn-secondary" style="margin-right: 50px;"> Logout</a>
    </div>
    </body>
</html>